body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: black;
  }

  h2 {
    text-align: center;
    color: red;
  }
  
  form label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-left: 20%;
  }
  
  form select {
    font-size: 16px;
    padding: 5px;
    width: 60%;
    margin-left: 20%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  form input{
    font-size: 16px;
    padding: 5px;
    width: 60%;
    margin-left: 20%;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  form button {
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button {
    display: block;
    margin: 0 auto;
}
  
  .result {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
  }
  
  footer {
    margin-top: 50px;
    text-align: center;
  }
  
  footer p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  footer img {
    width: 30px;
    margin: 0 10px;
  }
  
  footer div {
    margin-bottom: 10px;
  }
  
  footer p:last-of-type {
    margin-top: 5px;
  }
  #bgimg {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 200px;
  }

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-viewer {
    max-width: 700px;
    max-height: 700px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button-container button {
    margin: 0 5px;
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #0056b3;
}

.upload-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.upload-button:hover {
    background-color: #0056b3;
}
  



  